﻿@using Microsoft.AspNetCore.Mvc.Localization
@model MoneyTransfer.ViewModels.TransactionViewModel
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = "Money transfer";
}

@section Scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}

<h2>@Localizer["Header"]</h2>
<span>@Localizer["Balance"]: @Model.UserBalance</span>
<form method="post" asp-controller="Transaction" asp-action="Index" asp-antiforgery="true">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="ReceiverUniqueNumber"></label><br />
        <input asp-for="ReceiverUniqueNumber" />
        <span asp-validation-for="ReceiverUniqueNumber"></span>
    </div>
    <div>
        <label asp-for="TransferAmount"></label><br />
        <input asp-for="TransferAmount" />
        <span asp-validation-for="TransferAmount"></span>
    </div>
    <div>
        <input type="submit" value="@Localizer["LoginButtonCaption"]" />
    </div>
</form>