﻿@using Microsoft.AspNetCore.Mvc.Localization
@model System.Linq.IQueryable<MoneyTransfer.Models.Transaction>
@inject IViewLocalizer Localizer
@{
    ViewBag.Title = "Transactions";
}

<h2>@Localizer["Header"]</h2>
<form method="get">
    <div class="form-inline form-group">
        <label class="control-label">@Localizer["DataFrom"]: </label>
        <input type="datetime" name="dateTimeFrom" value="" class = "form-control" />
        <label class="control-label">@Localizer["DataTo"]: </label>
        <input type="datetime" name="dateTimeTo" value="" class = "form-control" />
        <input type="submit" value="@Localizer["FiltreButtonCaption"]" class="btn btn-default" />
    </div>
</form>

<table class="table">
    <tr><th>@Localizer["TransferDate"]</th> <th>@Localizer["Sender"]</th><th>@Localizer["Receiver"]</th><th>@Localizer["Amount"]</th></tr>
    @foreach (Transaction p in Model)
    {
        <tr><td>@p.TransferDateTime.ToString("dd/MM//YY")</td> <td>@p.UserSender.UserName</td><td>@p.UserReceiver.UserName</td><td>@p.TransferAmount</td></tr>
    }
</table>